.price{
  color: #ff9b08;
  text-align: right;
}
.time{
  color: #106cc8;
  text-align: right;
  text-decoration: underline;
}
.bold{
  font-weight: 600 !important;
}


/* 
furniture 67a1dc
price 
delivery and background #106cc8

*/