@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}
.blue-color {
  color: #00acf0;
}
.bold {
  font-weight: 600;
}
.large {
  font-size: 16px;
}
.divider{
  height: 20px;
}
.card > div{
  padding:20px;
}
.card-img{
  width: 70%;
  margin: 0px 15%;
}
.card-text{
  font-size: 1.2em;
  margin: 20px;
  text-align: center;
}
.content{
  padding: 15px
}